<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hz.erp.backend.database.UserInfoMapper">
	<!-- parameter 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[user_id, user_name, mobile, house_id, created]]>
	</sql>
	
	<!-- parameter 所有查询列 需自己修改，自定义简化版本返回内容 -->
	<sql id="QUERY_SIMPLE_COLUMN_LIST">
		<![CDATA[user_id, user_name, mobile, house_id, created]]>
	</sql>
	
	<!-- parameter 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM user_info]]></sql>
	
	<!-- 全部条件(包括queryData的扩展),除开主键  -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
			    <if test="userId != null"><![CDATA[AND user_id = #{userId}]]></if>
			    <if test="userName != null"><![CDATA[AND user_name = #{userName}]]></if>
			    <if test="mobile != null"><![CDATA[AND mobile = #{mobile}]]></if>
			    <if test="houseId != null"><![CDATA[AND house_id = #{houseId}]]></if>
			    <if test="created != null"><![CDATA[AND created = #{created}]]></if>
			<if test="keyword != null and keyword != ''">
				<![CDATA[AND (user_id = #{keyword} OR user_name LIKE CONCAT('%', #{keyword},'%'))]]>
			</if>
		</where>
	</sql>
  	
  	<!-- 更新列字段,只要不为NULL则更新,除开主键 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
			    <if test="userId != null"><![CDATA[user_id = #{userId},]]></if>
			    <if test="userName != null"><![CDATA[user_name = #{userName},]]></if>
			    <if test="mobile != null"><![CDATA[mobile = #{mobile},]]></if>
			    <if test="houseId != null"><![CDATA[house_id = #{houseId},]]></if>
			    <if test="created != null"><![CDATA[created = #{created},]]></if>
		</set>
	</sql>
	
	<!-- 智能排序与分页 -->
  	<sql id="QUERY_ORDER_LIMIT_CONDTION">
  		<if test="orderField != null and orderField != '' and orderFieldType != null and orderFieldType != ''"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
  		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex}, #{pageSize}]]></if>
  	</sql>
	
	<!-- 插入记录 -->
	<insert id="insertEntry" parameterType="userInfo"  useGeneratedKeys="true" keyColumn="user_id" keyProperty="userId">
		<![CDATA[
		INSERT INTO user_info (
			user_id, user_name, mobile, house_id, created
		) VALUES (
			#{userId}, #{userName}, #{mobile}, #{houseId}, #{created}
		)
		]]>
	</insert>
	
	<!-- 删除记录,主键删除 -->
	<delete id="deleteByKey" parameterType="long">
		<![CDATA[DELETE FROM user_info WHERE user_id = #{userId}]]>
	</delete>
	
	<!-- 删除记录,主键删除-逻辑删除 -->
	<delete id="deleteByKeyLogic" parameterType="long">
		<![CDATA[UPDATE TABLE user_info SET deleted = 1 WHERE user_id = #{userId}]]>
	</delete>
	
	<!-- 删除记录,主键IN(array) -->
	<delete id="deleteByArrayKey" parameterType="java.lang.reflect.Array">
		<![CDATA[DELETE FROM user_info WHERE user_id IN]]>
		<foreach collection="array" item="id"  open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</delete>
	
	<!-- 删除,通过条件 -->
	<update id="deleteByCondtion" parameterType="userInfo">
		<![CDATA[DELETE FROM user_info]]>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</update>
	
	<!-- 修改记录通过主键 -->
	<update id="updateByKey" parameterType="userInfo">
		<![CDATA[UPDATE user_info]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE user_id = #{userId}]]>
	</update>
	
	<!-- 查询,通过主键 -->
	<select id="selectEntry" parameterType="long" resultType="userInfo">
  		<![CDATA[SELECT]]>
    	<include refid="QUERY_COLUMN_LIST"/>
  		<include refid="QUERY_FROM_TABLE"/>
  		<![CDATA[WHERE user_id = #{userId}]]>
	</select>
	
	<!-- 查询,通过主键 -->
	<select id="selectSimpleEntry" parameterType="long" resultType="userInfo">
  		<![CDATA[SELECT]]>
    	<include refid="QUERY_SIMPLE_COLUMN_LIST"/>
  		<include refid="QUERY_FROM_TABLE"/>
  		<![CDATA[WHERE user_id = #{userId}]]>
	</select>
	
	<!-- 查询,通过条件 -->
	<select id="selectEntryList" parameterType="userInfo" resultType="userInfo">
  		<![CDATA[SELECT]]>
    	<include refid="QUERY_COLUMN_LIST"/>
  		<include refid="QUERY_FROM_TABLE"/>
  		<include refid="QUERY_WHERE_CLAUSE"/>
  		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>
	
	<!-- 查询简化版实例,通过条件 -->
	<select id="selectSimpleEntryList" parameterType="userInfo" resultType="userInfo">
  		<![CDATA[SELECT]]>
    	<include refid="QUERY_SIMPLE_COLUMN_LIST"/>
  		<include refid="QUERY_FROM_TABLE"/>
  		<include refid="QUERY_WHERE_CLAUSE"/>
  		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>
	
	<!-- 总数查询,通过条件 -->
	<select id="selectEntryListCount" parameterType="userInfo" resultType="int">
  		<![CDATA[SELECT COUNT(user_id) AS dataCount]]>
  		<include refid="QUERY_FROM_TABLE"/>
  		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
</mapper>
